<div class="pad">
    <form method="post" role="form" action="/admin/modifyDB?id={{result.id}}&sort={{sort}}&page={{page}}" enctype="multipart/form-data">
        <h4>修改文章：</h4>
        <!--<input type="hidden" name="token" value="123"/>--><!--防止表单重复提交-->

        <div class="mt row">
            <div>
                <select name="sort" id="sort" class="">
                    {{#each sorts}}

                    {{#if status}}
                    <option value="{{id}}" selected>{{cname}}</option>
                    {{else}}
                    <option value="{{id}}">{{cname}}</option>
                    {{/if}}

                    {{/each}}
                </select>
            </div>
        </div>
        <div class="mt">
            <input type="text" name="title" placeholder="标题" value="{{result.title}}">
        </div>
        <div class="mt">
            <input type="text" name="keywords" placeholder="关键词" value="{{result.keywords}}">
        </div>
        <div class="mt">
            <input type="text" name="description" placeholder="描述" value="{{result.description}}">
        </div>

        <div class="mt">
            <fieldset>
                <legend>缩略图(大小限制为2M，jpg/gif/png格式)</legend>
                {{#if result.hasPic}}
                <div id="imgContainer">
                    <img src="http://grab.xumohan.com/images/upload/smallPhoto/{{result.file}}" width="100">
                    <a class="btn btn-danger" id="delimg" href="#">删图</a>
                    <script>
                        $("#delimg").on('click', function () {
                            $.ajax({
                                type: "GET",
                                url: "/admin/delImg",
                                data: "id={{result.id}}",
                                success: function (msg) {
                                    $('#imgContainer').hide();
                                }
                            });
                        });
                    </script>
                </div>
                {{/if}}

                <div id="uploadContainer"><input type="file" name="file" accept=".jpg,.jpeg,.png,.gif"></div>
            </fieldset>
        </div>
        <div class="mt">
        <textarea class="form-control" name="note" id="conhtml" rows="15"
                  style="width: 100%;">{{result.note}}</textarea>
            <script src="/kindeditor/kindeditor-min.js"></script>
            <script src="/kindeditor/zh_CN.js"></script>
            <script>
                var options = {
                    cssPath: '/kindeditor/themes/default/default.css',
                    items: [
                        'source', '|', 'clearhtml', 'quickformat', '|', 'preview', 'code',
                        'plainpaste', 'wordpaste', '|', 'forecolor',
                        'hilitecolor', 'bold', '|', 'emoticons', 'link'
                    ]
                };
                //var editor = K.create('textarea[name="content"]', options);

                KindEditor.ready(function (K) {
                    window.editor = K.create('#conhtml', options);
                });
            </script>
        </div>
        <div class="mt">
            {{#if result.top}}

            <label>
                <input type="radio" name="top" value="0">
                <span class="btn btn-info">不置顶</span>
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="top" value="1" checked>
                <span class="btn btn-warning">置顶</span>
            </label>

            {{else}}

            <label>
                <input type="radio" name="top" value="0" checked>
                <span class="btn btn-info">不置顶</span>
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="top" value="1">
                <span class="btn btn-warning">置顶</span>
            </label>

            {{/if}}

        </div>
        <div class="mt">
            <button type="submit" class="btn btn-success btn-full-width">提交</button>
        </div>
    </form>
</div>