<div class="pad article">
    <div class="clearfix">
        <div class="fleft">
            [<a href="/html/list_{{{result.sort}}}.html">{{{result.cname}}}</a>]
        </div>
        <div class="fright">
            <a href="#" id="addFontSize">A+</a>
        </div>
    </div>
    <h1 class="title tcenter">{{{result.title}}}</h1>
    <div class="summary tcenter">来源：{{{result.source}}} &nbsp;&nbsp;&nbsp;&nbsp;创建时间：{{{createTime}}}</div>
    <div class="note-container">{{{result.note}}}</div>
    <div class="mt summary">
        [免责声明：本文仅代表作者个人观点，与万函网无关。其原创性以及文中陈述文字和内容未经本站证实，对本文以及其中全部或者部分内容、文字的真实性、完整性、及时性本站不作任何保证或承诺，请读者仅作参考，并请自行核实相关内容.万函网刊载此文出于传递更多信息之目的，并不意味着赞同其观点或证实其描述，也不代表本网对其真实性负责]
    </div>
    <div class="mt linkText">
        <script>
            document.write(window.location.href);
        </script>
    </div>
    <div class="tcenter mt">
        <a class="btn btn-full-width btn-success" href="javascript:history.go(-1);">返回</a>
    </div>
</div>

